@*esta vista tiene como objetivo principal una lista de alumnos*@
@model List<Alumno> 
    @using DA2_SistemaEscolar2016.Models



@{
    ViewBag.Title = "listar";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Lista de Alumnos</h2>
@Html.Partial("../BuscadorFormulario")

@if (User.IsInRole("Admin") || User.IsInRole("Capturista"))
            {

    @Html.ActionLink("Crear Nuevo Alumno", "crear")
}

    <table id="myTable">
      
        <thead>
          
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Fecha Nacimineto</th>
                <th>Grupo</th>
                <th></th>
            </tr>
        </thead>
       
        <tbody>
            @foreach (var alumno in Model)
            {
                <tr>

                    <td>@alumno.nombre</td>
                    <td>@alumno.apellidoPaterno</td>
                    <td>@alumno.apellidoMaterno</td>
                    <td>@alumno.fechaDeNacimiento.ToLongDateString()</td>
                    <td>@alumno.grupo.nombreGrupo</td>


                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Eliminar", "eliminar", new { id = alumno.numeroMatricula })
                        }


                        @if (User.IsInRole("Admin") || User.IsInRole("Capturista"))
                        {
                            @Html.ActionLink("Editar", "editar", new { id = alumno.numeroMatricula })
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>



@* Load datatable css *@
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
@* Load datatable js *@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable();
        });

</script>
    }